<!-- Created 07/19/24 by Sirojiddin Aripov -->
<h1>Quizzes</h1>
<% if @quizzes.length != 0 %>
  <p>All quizzes are below.</p>
  <% @quizzes.each do |quiz| %>
    <%= link_to quiz.quiz_name, quiz, class: "btn btn-primary"%>
  <% end %>
<% else %>
  <p>No quizzes have been created yet.</p>
<% end %>
