<%# Signup index.html.erb - Project 6 %>
<%# Created 07/19/2024 by Samuel Colston %>
<h1>User Routing</h1>
    <div>
        <h3>Sign Up:</h3><br>
        <%=button_to "Go To Sign Up:", "/users/sign_up", method: :get %>
        <h3>Log In:</h3><br>
        <%=button_to "Go To Log In:", "/users/sign_up", method: :get %>
    </div>
