<!-- Created 07/26/24 by Samuel Colston -->
<h1>Scores</h1>
<% if @scores.length != 0 %>
<table>
    <tr>
        <td>User:</td>
        <td>Accuracy:</td>
    </tr>
    <% @scores.each do |score| %>
    <tr>
        <td><%= @users.find_by(id: score.user_id)&.username || 'Unknown' %></td>
        <td>
        <% if score.answered == 0 %>
            <%= "Not Yet Studied" %>
        <% else %>
            <%= (score.answered_correct.to_f / score.answered.to_f * 100).round(2) %>
        <% end %>
        </td>
    </tr>
    <% end %>
</table>
<% else %>
  <p>No scores have been tracked yet.</p>
<% end %>
