<!--
  Created on 07/26/24 by Samuel Colston
  @description: View for a single user's score for the current quiz.  
  @updates: n/a.
  @params: :quiz_id - Quizzes table's primary key, current_user.id - Users table's primary key.
  @returns n/a. -->
<h1>Your Score:</h1>
    <!-- If there are no questions answered in the scoreboard, reports that the user has not studied. 
        Otherwise, calculates the percentage of correct answeres and reports that value as the accuracy.-->
    <% if @score.answered == 0 %>
        <p><%= "Not Yet Studied" %></p>
    <% else %>
        <p>Your accuracy for this quiz is: <%= (@score.answered_correct.to_f / @score.answered.to_f * 100).round(2) %>%</p>
    <% end %>
<%= button_to "Stop Tracking", quiz_score_path(@quiz, @score), method: :delete, class: 'btn btn-primary' %>