<!-- _user.html.erb - Project 6
     Created 07/20/24 by Jamaal Wairegi 
     Edited 07/21/24 by Jamaal Wairegi: Added-->

<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %><br>
    <strong>Username:</strong>
    <%= user.username %><br>
  </p>
</div>