<h1>Home Page</h1>
<p>Profile partial on the left</p>
<p>The quizzes</p>
<p>users</p>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "All Quizzes", quiz_path, class: "btn btn-success"%>
<%= link_to "Create Quiz", create_quiz_path, class: "btn btn-success"%>
