/* Edited 7/26/24 by Nicholas Colacarro: Added button colors for correct/incorrect choices */

 .btn.correct {
    background-color: green;
    color: white;
  }
  
  .btn.incorrect {
    background-color: red;
    color: white;
  }