<%# quizEnd.html.erb - Project 6 %>
<%# Created 07/18/2024 by Nicholas Colacarro %>
<%# Edited 07/19/2024 by Nicholas Colacarro: Added buttons to related pages%>

<% provide(:title, "Quiz Name | Quiz Ended") %>
<h1> You have reached the end of the quiz! <h1>
<div>
    <h3> You got 'correct'/'total questions' correct! </h3>
    <p> Go back and review missed questions: </p>
    <%=button_to "Review Questions", question_path, method: :get %>
    <p> Go to Quiz Information </p>
    <%=button_to "Quiz Information", index_path, method: :get %>
</div>