<!-- show.html.erb - Project 6
    Created 7/22/24 by Nicholas Colacarro 
    Edited 7/23/24 by Nicholas Colacarro: added score of quiz and link to retake quiz. -->

<h1>Quiz Completed</h1>
<p>Click below to study the quiz again!</p>
<%= link_to 'Start Over', study_question_path(@quiz.questions.first, quiz_id: @quiz.id), class: 'btn btn-primary' %>
