<!-- application.html.erb - Project 6
     Created 07/16/24 by Jamaal Wairegi 
     Edited 07/16/24 by Jamaal Wairegi: Allowed title to be yielded in other pages. -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
